@font-face {
    font-family: newFont;
    src: url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
}

/* 
#center{
    font-family: newFont;
} */

#navbar{
    font-family: 'Dancing Script', cursive;
}

#main{
    font-family: "Rubik Microbe", system-ui;
}
#bottombar{
    font-family: 'Dancing Script', cursive;
}
#rDown{
    font-family: 'Dancing Script', cursive;
}